@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap');

body {
    background-color: #032202;
    font-family: 'Hind Siliguri', sans-serif;
}
@font-face {
    font-family: 'Heart Breaking Bad';
    font-style: normal;
    font-weight: 400;
    src: local('Heart Breaking Bad'), url('https://fonts.cdnfonts.com/s/67301/Heart Breaking Bad.woff') format('woff');
}

/* Fonts */
.font-bk {
    font-family: 'Heart Breaking Bad', sans-serif;
}
/* Fondo en movimiento de index */
.background-movement {
    background: linear-gradient(181deg, #032202, #0c210b, #023f00, #035600);
    background-size: 800% 800%;

    -webkit-animation: bk-background 11s ease infinite;
    -o-animation: bk-background 11s ease infinite;
    animation: bk-background 11s ease infinite;
}
@-webkit-keyframes bk-background {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-o-keyframes bk-background {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes bk-background {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}


/* COLOR PRINCIPAL */
.navbar-dark,
.bg-dark,
.btn-dark,
.card-body,
.card-footer,
footer {
    background-color: rgb(10, 10, 10);
}


/* Tamaños */
.navbar-brand {
    font-size: 30px;
    font-family: 'Heart Breaking Bad', sans-serif;
}
.bkw-Logo {
    width: 50px;
}

/* Color de links */
.nav-link {
    color: rgb(41, 119, 62);
}
.nav-link:hover {
    color: white;
}

/* Imagenes de tarjeta responsive */
.img-size {
    height: 250px;
    object-fit: cover;
    object-position: 50% 0%;
}
.img-size-comp {

    height: 600px;
    object-fit: cover;
    object-position: 0% 0%;
}

/* Efecto de tarjetas */
.card {
    transition: all 0.2s ease;
}
.card:hover {
    transition: 90ms;
    transform: scale(1.05);
    box-shadow: rgba(43, 102, 58, 0.525) 0px 0px 60px;
}



/* Barra de progreso */
.progress-bar{
    border: none;
    background-color: #369457;
}

/* Botones cambio de colores a la paleta de BK*/
.btn-primary{
    border: none;
    background-color: #29773E;
  }
.btn-primary:hover{
    background-color: #1F6032;
}
.btn.show, .btn:first-child:active{
    background-color: #29773E;
}
.btn-primary:disabled,
.btn-primary[disabled]{
    border: none;
    background-color: #1F6032;
  color: #ffffff;
}